/*body {
  background: url('./images/home_image.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
*/
* {
margin: 0;
padding: 0;
}
.imgbox {
display: grid;
}
.center-fit {
max-width: 100%;
margin: auto;
}
